@font-face {
    font-family: 'playfair_displaybold';
    src: url('./fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('./fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('./fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/playfairdisplay-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'playfair_displayitalic';
    src: url('./fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('./fonts/playfairdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('./fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('./fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'deutsch_gothicnormal';
    src: url('./fonts/deutsch-webfont.woff2') format('woff2'),
         url('./fonts/deutsch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nickainley';
    src: url('./fonts/nickainley-normal.woff2') format('woff2'),
         url('./fonts/nickainley-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    background-image: url('./images/italian-countryside.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
}

body {
    margin: auto;
    width: 60%;
    background-color: rgba(219,183,150,0.6);
    padding: 0;
    color: #301409;
    font-family: 'playfair_displayregular', 'Times New Roman', serif;
}

h2 {
    text-align: center;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

figure {
    margin: 0;
}

figcaption, footer {
    text-align: center;
    color:#5e5e5e;
    font-size: .8em;
}

figcaption a, footer a {
    color:#5e5e5e;
}

#nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 75px;
    padding: 20px 0 0 0 ;
}

.nav-button {
    width:  150px;
    border: none;
    border-radius: 10px;
    height: 60px;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(245, 238, 220);
}


.nav-button:hover {
    cursor: pointer;
    background-color: rgb(229, 211, 188);
}

.nav-button:active {
    background-color: rgb(156, 130, 105);
    color: antiquewhite;
}

#content {
    display: grid;
    grid-template: .2fr 1fr .3fr .01fr/ .3fr 1fr;
    gap: 40px;
    padding: 30px;
    align-items: center;
    margin: 0;
}

#title h1 {
    text-align: center;
    margin: 5px 0 5px 0;
    font-size: 4em;
    font-family: 'nickainley', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title {
    grid-column: 1 / 3;
    grid-row: 1;
    margin:0;
    padding: 0;
}

#splash, #hours, #socials {
    background-color: #e7d2c1;
    padding: 20px;
    border-radius: 10px;
}

#splash {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 3;
    grid-row: 2;
}

#splash p {
    font-size: 1.2em;
    padding: 0 30px 0 30px;
    margin-top: 2em;
}

#splash p::first-letter {
    font-size: 5em;
    line-height: 0.3em;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'deutsch_gothicnormal', serif;
}

#hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1;
    grid-row: 3;
}

#hours li {
    text-align: center;
}

#socials {
    grid-column: 2;
    grid-row: 3;
}

#socials ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 5px;
}

#socials li {
    font-size: .9em;
    display: flex;
    align-items: center;
    text-align: center;
}

#socials img {
    padding: 0 10px 0 10px
}

footer {
    grid-column: 1/3;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    gap: 5px;
}